p {
    display: flex;
    text-align: justify;
}

img {
    margin: 15px;
}

#bart1 {
    width: 25%;
    height: 25%;
    float: left;
}

#bart2{
    float: right;
}

.alinharAoCentro{
    display: flex;
    justify-content: center;
    padding-left: 80px;
}

#video {
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    height: 315px;
    width: 560px;
}

#titulo {
    text-align: center;
}

#fonte {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

a:visited {
    color: red;
}